<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <style>
    *{
      margin: 0px;
      padding: 0px;
    }
    p,span{
      color:#ffffff;
    }
  </style>
</head>

<body style="margin: 0px">
  <center>
    <div
      style="background-image: url('https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/bg.png'); width: 720px; padding-bottom: 42px;">
      <center>
        <img style="width: 200px; margin-top: 40px; margin-bottom: 40px"
          src="https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/breakin_logo.png" alt="Logo" />

        <div style="
              background-color: #161616;
              padding: 28px;
              width: 630px;
              border-radius: 10px;
              text-align: start;
              color: #ffffff;
            ">
          <h1 style="color: #ffffff; font-size: 24px; text-align: center; margin-bottom: 30px;">
            Reset Your Breakin’ Clay Password
          </h1>

          <p style="line-height: 1.4rem;">Hi <b>{{user}}</b>,</p>
          
          <p style="line-height: 1.4rem; margin-bottom: 20px;">
            We received a request to reset your Breakin’ Clay password. If you made this request, follow the steps below
            to regain access to your account.
          </p>
          
          <p style="line-height: 1.4rem; margin-bottom: 4px;">
            <b>
              Reset Your Password in 3 Easy Steps::</b>
          </p>
          
          <p>
          <ul style="line-height: 1.4rem; margin-left: 20px;">
            <li style="line-height: 1.4rem;">
              <b>Click the link below: <br> <a target="_blank" href="{{url}}" style="text-decoration: none;"><span style="color: #B82538;">{{url}}</span></a></b>
            </li>
            <li style="line-height: 1.4rem;"><b>
                Create a new secure password.</b></li>
            <li style="line-height: 1.4rem;"><b>️
                ️Log back in and continue tracking your shooting scores!

              </b>
            </li>
          </ul>
          </p>
          <p style="line-height: 1.4rem; margin-top: 20px;" >
            For security reasons, this link will expire in 24 hours. If you didn’t request this change, no action is
            needed, but we recommend updating your password if you suspect any unauthorized activity.

          </p>
          <p style="line-height: 1.4rem;">Need help? Our <a href="support@breakinclays.com" style="text-decoration: none;"><span style="color: #B82538;">Support Team</span></a> is here for you.
           </p>
            <br/>
          <p style="line-height: 1.4rem;">Happy
            Shooting, <br>The Breakin’ Clay Team</p>
            <center>
              <table style="margin-top:60px; margin-bottom: 30px;">
                <tr>
                  <td style="padding: 0 10px;">
                    <a href="#googleLink">
                      <img
                        src="https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/flat-color-icons_google.png" />
                    </a>
                  </td>
                  <td>
                    <a href="#appleLink"><img
                        src="https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/ic_twotone-apple.png" /></a>
                  </td>
                </tr>
              </table>
            </center>
        </div>
        <div style="margin-top: 20px;">
          <span style="color: #ffffff; font-size: 12px; ">© Copyright 2025 <b>Breakin’ Clays.</b></span>
        </div>
      </center>
    </div>
  </center>
</body>

</html>