<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome To Breakin’ Clays</title>
  <style>
    *{
      margin: 0px;
      padding: 0px;
    }
    p,span{
      color:#ffffff;
    }
  </style>
</head>

<body style="margin: 0px">
  <center>
    <div
      style="background-image: url('https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/bg.png'); width: 720px; padding-bottom: 42px;">
      >
      <center>
        <img style="width: 200px; margin-top: 40px; margin-bottom: 40px"
          src="https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/breakin_logo.png" alt="Logo" />

        <div style="
              background-color: #161616;
              padding: 28px;
              width: 630px;
              border-radius: 10px;
              text-align: start;
              color: #ffffff;
            ">
          <h1 style="color: #ffffff; font-size: 24px; text-align: center; margin-bottom: 30px ">
            Welcome To Breakin’ Clays
          </h1>

          <p style="line-height: 1.4rem;">Hi <b>{{user}}</b>,</p>
          <p style="line-height: 1.4rem;">
            We’re thrilled to have you join Breakin’ Clay, your ultimate clay
            shooting scorecard app! Whether you're perfecting your skills in
            American Trap, International Trap, Skeet, or Sporting Clays, we’ve
            got the tools to track and improve your game.
          </p>
          <p style="line-height: 1.4rem;">
            Before you get started, verify your email to secure your account:
            <br /> <p style="color: #b82538;text-align:center;font-size:2rem;font-weight:bold;letter-spacing:10px; margin-top: 20px; margin-bottom: 20px">{{otp}}</span>
          </p>
          <p style="line-height: 1.4rem; margin-bottom: 4px;">
            <b>What You Can Do with Breakin’ Clay:</b>
          <ul style="margin-left: 20px;">
            <li style="line-height: 1.4rem;">
              <b>Effortless Score Tracking</b> – Maintain detailed scorecards for different shooting disciplines.
            </li>
            <li style="line-height: 1.4rem;"><b>Performance Insights</b> – Analyze past performances and
              track progress over time.</li>
            <li style="line-height: 1.4rem;"><b>️Customizable Scorecards</b> – Personalize
              scoring formats based on your shooting preferences.</li>
            <li style="line-height: 1.4rem;"><b>Stay
                Competitive – Set goals, compare scores, and keep improving. </b></li>
          </ul>
          </p>
          <p style="line-height: 1.4rem; margin-top: 20px;">Need
            Help? We’ve Got You Covered! <br> Explore our [Help Center] for quick
            tips or reach out to our support team anytime.</p>
          <p style="line-height: 1.4rem;">Now that you're in,
            let's break some clay and hit those targets! 🚀 </p>
            <br/>
          <p style="line-height: 1.4rem;">Happy
            Shooting, <br>The Breakin’ Clay Team</p>

          <center>
            <table style="margin-top:60px; margin-bottom: 30px;">
              <tr>
                <td style="padding: 0 10px;">
                  <a href="#googleLink">
                    <img
                      src="https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/flat-color-icons_google.png" />
                  </a>
                </td>
                <td>
                  <a href="#appleLink"><img
                      src="https://breakin-clays-dev.s3.us-east-1.amazonaws.com/public/ic_twotone-apple.png" /></a>
                </td>
              </tr>
            </table>
          </center>
        </div>
        <div style="margin-top: 20px;">
          <span style="color: #ffffff; font-size: 12px; ">© Copyright 2025 <b>Breakin’ Clays.</b></span>
        </div>
      </center>
    </div>
  </center>
</body>

</html>